body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top
{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header, .title
{
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-top: 20px;
}

.text
{   
    flex-direction: column;
    align-items: start;
}

.image, .text
{
    flex: 1;
}

.image
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 245px;    
}

.big
{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.title button
{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px 25px;
    margin-top: 10px;
    font-weight: bold;
}

.header div
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

ul, .subtext
{
    font-size: 18px;
    color: #e5e7eb;
}
.subtext
{
    width: 90%;
}

.random
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info
{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-bottom: 24px;
}

.cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 24px;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 160px;
}

.box
{
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.quote
{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 790px;
}

.saying
{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.author
{
    text-align: end;
    font-size: 24px;
    font-weight: 900;
}

.cta
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.ctbox
{
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px 80px;
    border-radius: 6px;
}

.cta button
{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 7px 30px;
    font-weight: bold;
    border-radius: 8px;
}

.footer
{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: white;
}

